@font-face {
  font-family: 'MyPrintedWriting';
  src: url(asset-path('fonts/myprintedwriting.eot'));
  src: url(asset-path('fonts/myprintedwriting.eot')) format('embedded-opentype'),
       url(asset-path('fonts/myprintedwriting.woff')) format('woff'),
       url(asset-path('fonts/myprintedwriting.ttf')) format('truetype'),
       url(asset-path('fonts/myprintedwriting.svg#MyPrintedWritingMedium')) format('svg');
}
