@font-face {
  font-family: 'MyPrintedWriting';
  src: url('./fonts/myprintedwriting.eot');
  src: url('./fonts/myprintedwriting.eot') format('embedded-opentype'),
       url('./fonts/myprintedwriting.woff') format('woff'),
       url('./fonts/myprintedwriting.ttf') format('truetype'),
       url('./fonts/myprintedwriting.svg#MyPrintedWritingMedium') format('svg');
}
